<div class="container-fluid">

<div class="taskcreatediv col text-center mt-5">
  <button type="button" class="btn btn-primary taskcreatebtn btn-lg" name="button">Create a Task</button>
</div>
<!-- Todo form -->
  <div class="row mt-5">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <form action="/add" method="POST" class="todoform">
        <div class="form-group">
          <input type="text" class="form-control form-control-lg todoinput text-center" name="new_todo" placeholder="What do you want to do?" maxlength="50" required>
        </div>
        <div class="form-group form-inline text-center">
          <input class="form-control form-control-sm tododate col-5 mr-4" placeholder="Target date" id="datepicker" name="end_date" data-toggle="datepicker">
            <select class="form-control form-control-sm todopriority col-6 " name="priority" id="sel1" style="color:grey">
              <option hidden>Priority</option>
              <option value=High>High</option>
              <option value=Medium>Medium</option>
              <option value=Low>Low</option>
            </select>
        </div>
        <button class="btn btn-primary todosubmit mt-1" type="submit" name="submit">Save</button>
      </form>
    </div>
  </div>

<!-- Todo db query results   -->
{{#each todolist}}
<div class="row itemdiv div{{@index}}">

  <div class="col-xs-4 status">
    <form action="/update/{{id}}" method="POST">
      {{#if status}}
        Status: <strong>Completed</strong>
      {{else}}
        Status: <strong>Incomplete</strong>
      {{/if}}
    </form>
  </div>

  <div class="col-xs-4 enddate">
      {{#if enddate}}
        Deadline: <strong>{{enddate}}</strong>
      {{else}}
        Deadline: <strong>N/A</strong>
      {{/if}}
    </form>
  </div>

  <div class="col-xs-4 priority">
      {{#if enddate}}
        Priority: <strong>{{priority}}</strong>
      {{else}}
        Priority: <strong>N/A</strong>
      {{/if}}
    </form>
  </div>


</div>
{{/each}}
  <div class="result-container mx-auto mt-5 text-center">
    <hr style="width:70%">

    {{#each todolist}}
      <div class="row todoitem">

        <div class="col-6 description">
          <a href="javascript: void(0)" onclick="show({{@index}})"><h4>{{description}}</h4></a>
        </div>

        <div class="col-xs-2 status">
          <form action="/update/{{id}}" method="POST">
            {{#if status}}
              <input type="image" src="../static/true.png" border="0" alt="Completed" class="statusicon true"/>
            {{else}}
              <input type="image" src="../static/false.png" border="0" alt="Not Completed" class="statusicon false"/>
            {{/if}}
          </form>
        </div>
      </div>

        <hr style="width:70%">


      {{else}}
      <h2>Add a To-Do item</h2>
    {{/each}}

  </div>

</div>
